.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px 8px 0px;
}
.airBnbExperiences {
  background: rgba(255, 255, 255, 1);
  width: 550px;
  height: 853px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 8.949px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .airBnbExperiences {
    margin-bottom: 831px;
  }
}
.group77 {
  width: 396px;
  height: 232px;
  display: block;
  position: absolute;
  top: 96px;
  left: 77px;
}
.image28 {
  background: url("./images/image28.png") center center / cover no-repeat;
  transform: translate(0px, -0.18999999999999773px);
  width: 73px;
  height: 97px;
  display: block;
  position: absolute;
  top: 49px;
  left: 0px;
  border-radius: 8.949px;
}
.image29 {
  background: url("./images/image29.jpeg") center center / cover no-repeat;
  transform: translate(0.4960000000000093px, -0.4159999999999968px);
  width: 73px;
  height: 97px;
  display: block;
  position: absolute;
  top: 136px;
  left: 161px;
  border-radius: 8.949px;
}
.image25 {
  background: url("./images/image25.png") center center / cover no-repeat;
  transform: translate(-0.4060000000000059px, 0.07699999999999818px);
  width: 73px;
  height: 97px;
  display: block;
  position: absolute;
  top: 18px;
  left: 324px;
  border-radius: 8.949px;
}
.image22 {
  background: url("./images/image22.png") center center / cover no-repeat;
  transform: translate(-0.15399999999999636px, 0px);
  width: 73px;
  height: 98px;
  display: block;
  position: absolute;
  top: 0px;
  left: 243px;
  border-radius: 8.949px;
}
.image23 {
  background: url("./images/image23.jpeg") -97px -12px / 178px 138px no-repeat;
  transform: translate(-0.15399999999999636px, 0.45400000000000773px);
  width: 73px;
  height: 97px;
  display: block;
  position: absolute;
  top: 105px;
  left: 243px;
  border-radius: 8.949px;
}
.image24 {
  background: url("./images/image24.png") center center / cover no-repeat;
  transform: translate(-0.4060000000000059px, -0.07099999999999795px);
  width: 73px;
  height: 98px;
  display: block;
  position: absolute;
  top: 123px;
  left: 324px;
  border-radius: 8.949px;
}
.image27 {
  background: url("./images/image27.png") center center / cover no-repeat;
  transform: translate(0.4960000000000093px, 0.1290000000000049px);
  width: 73px;
  height: 97px;
  display: block;
  position: absolute;
  top: 30px;
  left: 161px;
  border-radius: 8.949px;
}
.image26 {
  background: url("./images/image26.png") center center / cover no-repeat;
  transform: translate(-0.25200000000000955px, -0.4579999999999984px);
  width: 73px;
  height: 98px;
  display: block;
  position: absolute;
  top: 80px;
  left: 81px;
  border-radius: 8.949px;
}
.image30 {
  background: url("./images/image30.png") -1px -11px / 75px 113px no-repeat;
  transform: translate(-0.25200000000000955px, 0.23099999999999454px);
  width: 74px;
  height: 64px;
  display: block;
  position: absolute;
  top: 7px;
  left: 81px;
  border-radius: 8.949px;
}
.svg__nyLpe {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  filter: drop-shadow(0px 2.982px 3.728px rgba(0, 0, 0, 0.1));
  width: 550px;
  height: 70px;
  display: block;
  top: 24px;
  left: -14px;
}
.img {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 82.02px;
  height: 25.351px;
  display: block !important;
  top: 22px;
  left: 30px;
  overflow: hidden;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__gh05C {
  display: block;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 360px;
  left: 36px;
  width: 347px;
}
.joinUniqueInteractiveActivitiesLedByOneOfAKindHostsallWithoutLeavingHome {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 416px;
  left: 36px;
  width: 320px;
  height: 56px;
}
.group65 {
  width: 176px;
  height: 58px;
  display: block;
  position: absolute;
  top: 765px;
  left: 36px;
}
.lifeLessonsWithKatieZaferes {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 22px;
  left: 1px;
  width: 175px;
  height: 14px;
}
.from136Person {
  display: block;
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 44px;
  left: 0px;
  width: 144px;
  height: 14px;
}
._50 {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 0px;
  left: 16px;
  width: 18px;
  height: 14px;
}
.text___7HOlS {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(144, 141, 154, 1);
  position: absolute;
  top: 0px;
  left: 36px;
  width: 18px;
  height: 14px;
}
.text__idw22 {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(144, 141, 154, 1);
  position: absolute;
  top: 0px;
  left: 60px;
  width: 23px;
  height: 14px;
}
.svg__nvnlK {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fe395c;
  width: 14px;
  height: 13px;
  display: block;
  top: 0px;
  left: 0px;
  border-radius: 0.5px;
}
.svg__oExh {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #918e9b;
  width: 2px;
  height: 2px;
  display: block;
  top: 6px;
  left: 56px;
}
.group78 {
  width: 176px;
  height: 58px;
  display: block;
  position: absolute;
  top: 765px;
  left: 230px;
}
.learnWeddingPhotography {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 22px;
  left: 1px;
  width: 175px;
  height: 14px;
}
.from125Person {
  display: block;
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 44px;
  left: 0px;
  width: 144px;
  height: 14px;
}
._6 {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 0px;
  left: 16px;
  width: 18px;
  height: 14px;
}
.text___4Wm3U {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(144, 141, 154, 1);
  position: absolute;
  top: 0px;
  left: 36px;
  width: 27px;
  height: 18px;
}
.text__wnHQe {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(144, 141, 154, 1);
  position: absolute;
  top: 0px;
  left: 70px;
  width: 23px;
  height: 14px;
}
.svg__ulkIy {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fe395c;
  width: 14px;
  height: 13px;
  display: block;
  top: 0px;
  left: 0px;
  border-radius: 0.5px;
}
.svg___46Joo {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #918e9b;
  width: 2px;
  height: 2px;
  display: block;
  top: 6px;
  left: 64px;
}
.group79 {
  width: 176px;
  height: 58px;
  display: block;
  position: absolute;
  top: 765px;
  left: 424px;
}
.text__rpp4O {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 22px;
  left: 1px;
  width: 175px;
  height: 14px;
}
.from50Person {
  display: block;
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 44px;
  left: 0px;
  width: 144px;
  height: 14px;
}
.text___28Okz {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 0px;
  left: 16px;
  width: 18px;
  height: 14px;
}
.text__nsQCn {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(144, 141, 154, 1);
  position: absolute;
  top: 0px;
  left: 36px;
  width: 18px;
  height: 14px;
}
.text__v1L85 {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(144, 141, 154, 1);
  position: absolute;
  top: 0px;
  left: 60px;
  width: 23px;
  height: 14px;
}
.svg__m3MN {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fe395c;
  width: 14px;
  height: 13px;
  display: block;
  top: 0px;
  left: 0px;
  border-radius: 0.5px;
}
.svg__mBqUb {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #918e9b;
  width: 2px;
  height: 2px;
  display: block;
  top: 6px;
  left: 56px;
}
.image12 {
  background: url("./images/image12.png") center center / cover no-repeat;
  width: 176px;
  height: 235px;
  display: block;
  position: absolute;
  top: 521px;
  left: 37px;
  border-radius: 9px;
}
.group80 {
  width: 61px;
  height: 20px;
  display: block;
  position: absolute;
  top: 527px;
  left: 43px;
}
.rectangle41 {
  background: rgba(255, 255, 255, 1);
  width: 61px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 2px;
}
.text__cPi1C {
  display: block;
  font-size: 10.239px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 5px;
  left: 6px;
}
.group72 {
  width: 160px;
  height: 40px;
  display: block;
  position: absolute;
  top: 705px;
  left: 239px;
}
.furtherDescriptionsAboutLifeLessonsWithKatieZaferes {
  display: block;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 40px;
}
.weddingPhotography1 {
  background: url("./images/weddingPhotography1.jpeg") 0px -28px / 176px 264px no-repeat;
  width: 176px;
  height: 235px;
  display: block;
  position: absolute;
  top: 521px;
  left: 231px;
  border-radius: 9px;
}
.mountainBike1 {
  background: url("./images/mountainBike1.jpeg") 0px -14px / 176px 264px no-repeat;
  width: 176px;
  height: 235px;
  display: block;
  position: absolute;
  top: 521px;
  left: 425px;
  border-radius: 9px;
}
.group81 {
  width: 61px;
  height: 20px;
  display: block;
  position: absolute;
  top: 527px;
  left: 239px;
}
.rectangle42 {
  background: rgba(255, 255, 255, 1);
  width: 61px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 2px;
}
.text__aViaK {
  display: block;
  font-size: 10.239px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.1;
  color: rgba(33, 33, 33, 1);
  position: absolute;
  top: 5px;
  left: 13px;
}
